.timeline-line {
    background: linear-gradient(to bottom, #8B5CF6, #8B5CF6);
}
.skill-bar {
    transition: width 0.3s ease-in-out;
}


.icon_box_03 {
    position: relative;
}
.icon_box_03 .icon_div{
    display: inline-block;
    width: 110px;
    height: 110px;
    padding: 43px 0;
    position: relative;
    margin: 0 auto 0;
}
.icon_box_03 .icon_div:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(118, 53, 245, .6);
    border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
    content: '';
    z-index: 1;
    transition: all ease 300ms;
    -moz-transition: all ease 300ms;
    -webkit-transition: all ease 300ms;
    -o-transition: all ease 300ms;
    -ms-transition: all ease 300ms;
}
.icon_box_03 .icon_div:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(118, 53, 245, .4);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    content: '';
    z-index: 2;
    transition: all ease 300ms;
    -moz-transition: all ease 300ms;
    -webkit-transition: all ease 300ms;
    -o-transition: all ease 300ms;
    -ms-transition: all ease 300ms;
}
.icon_box_03:hover .icon_div:before {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    background: rgba(1, 216, 95, .6);
}
.icon_box_03:hover .icon_div:after {
    border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
    background: rgba(1, 216, 95, .4);
}
.icon_box_03 i{
    position: relative;
    z-index: 3;
    font-size: 26px;
    font-weight: 700;
    color: #FFF;
    line-height: 1;
    display: block;
    text-align: center;
    font-style: normal;
}
.icon_box_03 h5 {
    position: relative;
    z-index: 3;
    font-size: 16px;
    line-height: .8;
    color: #FFF;
    font-weight: 600;
    letter-spacing: 0;
    text-transform: capitalize;
    margin: 25px 0 0;
}

.psSocial{
    left: 0;
    bottom: 30px;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 0 35px;
}
.psSocial a{
    width: 40px;
    height: 40px;
    background: #201e29;
    color: #FFF;
    border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 14px 0;
    margin: 0 10px 0 0;
    transition: all ease 300ms;
    -moz-transition: all ease 300ms;
    -webkit-transition: all ease 300ms;
    -o-transition: all ease 300ms;
    -ms-transition: all ease 300ms;
}
.psSocial a.facebook{
    background: #4267B2;
}
.psSocial a.twitter{
    background: #1DA1F2;
}
.psSocial a.instagram{
    background: #b834b6;
}
.psSocial a.dribbble{
    background: #EA4C89;
}
.psSocial a.brand-what{
    background: #6FE264;
}
.psSocial a.brand-yout{
    background: #F70000;
}
.psSocial a.brand-snap{
    background: #FFFC00;
}
.psSocial a.pinterest{
    background: #E11A21;
}
.psSocial a.linkedin{
    background: #0077B7;
}
.psSocial a.vimeo{
    background: #2DABE2;
}
.psSocial a.vk{
    background: #4986CC;
}
.psSocial a.digg{
    background: #1B5791;
}
.psSocial a.github{
    background: #171515;
}
.psSocial a.rss{
    background: #FFA500;
}
.psSocial a.skype{
    background: #00AFF0;
}
.psSocial a.behance{
    background: #1769FF;
}
.psSocial a.xing{
    background: #006064;
}
.psSocial a.tumblr{
    background: #2A445F;
}
.psSocial a.reddit{
    background: #F74300;
}
.psSocial a:hover {
    background: #7635f5;
    color: #fff;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}