.timeline-line {
    background: linear-gradient(to bottom, #8B5CF6, #8B5CF6);
}
.skill-bar {
    transition: width 0.3s ease-in-out;
}


.icon_box_03 {
    position: relative;
}
.icon_box_03 .icon_div{
    display: inline-block;
    width: 110px;
    height: 110px;
    padding: 43px 0;
    position: relative;
    margin: 0 auto 0;
}
.icon_box_03 .icon_div:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(118, 53, 245, .6);
    border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
    content: '';
    z-index: 1;
    transition: all ease 300ms;
    -moz-transition: all ease 300ms;
    -webkit-transition: all ease 300ms;
    -o-transition: all ease 300ms;
    -ms-transition: all ease 300ms;
}
.icon_box_03 .icon_div:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(118, 53, 245, .4);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    content: '';
    z-index: 2;
    transition: all ease 300ms;
    -moz-transition: all ease 300ms;
    -webkit-transition: all ease 300ms;
    -o-transition: all ease 300ms;
    -ms-transition: all ease 300ms;
}
.icon_box_03:hover .icon_div:before {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    background: rgba(1, 216, 95, .6);
}
.icon_box_03:hover .icon_div:after {
    border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
    background: rgba(1, 216, 95, .4);
}
.icon_box_03 i{
    position: relative;
    z-index: 3;
    font-size: 26px;
    font-weight: 700;
    color: #FFF;
    line-height: 1;
    display: block;
    text-align: center;
    font-style: normal;
}
.icon_box_03 h5 {
    position: relative;
    z-index: 3;
    font-size: 16px;
    line-height: .8;
    color: #FFF;
    font-weight: 600;
    letter-spacing: 0;
    text-transform: capitalize;
    margin: 25px 0 0;
}